@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efefef;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.squaricle {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 1px solid #b8b8b8;
    background: url('aa9697a3f7a61389675b8dc109518753.gif') no-repeat center center;
    background-size: cover; 
    background-position: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top: -3.5rem;
}

.squaricle::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, #89919c93, rgba(0,0,0,0));
    z-index: 0; 
}

.squaricle h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-top: .5rem;
}

.squaricle .temp {
    font-size: 9.5rem;
    font-weight: bold;
    color: white;
    margin-top: -2.5rem;
    /* z-index: 2;
    position: relative; */
}

.tempfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    margin-top: -12.5rem;
}

.tempfooter p {
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
    color: white; 
}


.gateway{
    width: 220px;
    position: absolute;
    z-index: 0;
    margin-top: 5.3rem;
}

img{
    width: 220px;
}

p, h2{
    opacity: .95;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: none;
    color: #000;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    font-weight: 500;
}

footer span{
    font-weight: 600;
}
a{
    color: #000;
    text-decoration: none;
}